{% extends 'players/base.html' %}
{% load filters %}
{% block content %}
<form action="/players/teams/" method="post">
{% csrf_token %}
    {% if response.search_phrase == None %}
        <input type="text" name="team_name">
    {% else %}
        <input type="text" value="{{ response.search_phrase }}" name="team_name">
    {% endif %}
    <button type="submit">Search</button>
</form>

    {% if response.number == None %}
        <h2>Result of search: </h2>
        <p> {{ response.search_info }}</p>
    {% else %}
       <h2>Page {{ response.number }}</h2>
    {%  for page in response.pages %}
        {% if page == -1 %}
            <span>...</span>
        {% else %}
            <a href="/players/teams/{{ page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
    {% endif %}

 <table border="1">
   <caption>Teams</caption>
   <tr>
        <th>Name</th>
        <th>Year of foundation</th>
   </tr>
    {%  for team in response.teams %}
                <tr>
                    <td> {{ team.full_name }} </td>
                    <td> {{ team.found_year }} </td>
                <td>
                    <form action="{% url 'delete_team' %}" method="POST" style="display: inline">{% csrf_token %}
                            <button name="deleted_team" value='{{ team|private:"_id"}}' type="submit">Delete</button>
                    </form>
                </td>
                </tr>
    {% endfor %}
   </table>
{% endblock %}